venv/
venv_*/
env/
venv_infer/
venv_dpo/
__pycache__/
.pytest_cache/
*.egg-info/
wandb/
logs/
checkpoints/
train_dataset/
train_dataset_bad/
.DS_Store/
.DS_Store
*_dataset/
audio/
audio_2/
short_audio/
dpo_checkpoints/
dpo_data/
round*/
